{{ define "EditFatura" }}
    {{ template "Header"}}
        {{ template "Menu"}}
        <h2>Editar Fatura</h2>

        <form method="POST" action="updateFatura">
            <input type="hidden" name="uid" value="{{ .IdFatura }}" />
            <label> Valor:  </label><input type="text" name="valor" value="{{ .Valor }}" /><br />
            <label> Categoria: </label><input type="text" name="categoria" value="{{ .Categoria }}" /><br />
             <select name="status" value="Pago">
                  <option value="Pago">Pago</option>
                  <option value="Pendente" selected>Pendente</option>
            </select>
            <input type="submit" value="Salvar Fatura" />
        </form><br />
        <a href="/deleteFatura?id={{ .IdFatura }}">Deletar</a>
    {{ template "Footer"}}
{{ end }}