{{ define "ListFatura" }}
    {{ template "Header" }}
        {{ template "Menu" }}


    <h2>Faturas</h2>
    <table border="1">
        <thead>
            <tr>
                <td>Id</td>
                <td>Valor</td>
                <td>Categoria</td>
                <td>Ação</td>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <td>{{ .IdFatura }}</td>
                <td>{{ .Valor }}</td>
                <td>{{ .Categoria }}</td>
                <td><a href="/showFatura?id={{ .IdFatura }}">Visualizar</a>  |  <a href="/editFatura?id={{ .IdFatura }}">Editar</a></td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    {{ template "Footer" }}
{{ end }}