{{ define "NewFatura" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Nova fatura</h2>
  
    <form method="POST" action="insertFatura">
      <label> Valor: </label><input type="text" name="valor" /><br/>
      <label> Categoria: </label><input type="text" name="categoria" /><br/>
      <select name="status">
              <option value="Pago">Pago</option>
              <option value="Pendente" selected>Pendente</option>
      </select><br/><br/>
      <input type="submit" value="Save Fatura" />
    </form>
  {{ template "Footer" }}
{{ end }}
