<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "headlink.html" }}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        {{ template "Menu.html" }}
    </header>
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Cadastro Fatura</h3>
                        </div>
                        <form method="POST" action="/insert">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Nome</label>
                                            <input type="text"
                                                   name="name"
                                                   class="form-control"
                                                   placeholder="Nome"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text"
                                                   name="email"
                                                   class="form-control"
                                                   placeholder="Email"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button  class="btn btn-primary" type="submit" value="Save Fatura">
                                            Cadastrar User
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="javascript:history.back()">
                                            <button type="button" class="btn btn-danger" style="    float: left;">Voltar</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="../layout/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../layout/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
</body>
</html>