{{ define "ShowFatura" }}
  {{ template "Header" }}
    {{ template "Menu" }}


    <h2> Registro {{ .IdFatura }} </h2>
      <p>Valor: {{ .Valor }}</p>
      <p>Categoria:  {{ .Categoria }}</p>
      <p>Status:  {{ .Status }}</p>
      <br/> <a href="/editFatura?id={{ .IdFatura }}">Editar</a></p><a href="/deleteFatura?id={{ .IdFatura }}">Deletar</a>
  {{ template "Footer" }}
{{ end }}
