<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "headlink.html" }}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        {{ template "Menu.html" }}
    </header>
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Mostrar User</h3>
                        </div>
                        <form method="POST" action="update">
                            <div class="box-body">
                                <input type="hidden" name="uid" value="{{ .Id}}"/>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <label> {{ .Name }} </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Email: </label>
                                            <label> {{ .Email }} </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="/deleteUser?id={{ .Id }}">
                                            <button type="button" class="btn btn-danger" style="float: left;">Deletar User</button>
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="javascript:history.back()">
                                            <button type="button" class="btn btn-danger" style="    float: left;">Voltar</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="../layout/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../layout/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
</body>
</html>