{{ define "ShowFatura" }}
  {{ template "Header" }}
    {{ template "Menu" }}


    <h2> Registro {{ .IdFatura }} </h2>
      <p>Nome: {{ .Valor }}</p>
      <p>E-Mail:  {{ .Categoria }}</p>
      <br /> <a href="/editFatura?id={{ .IdFatura }}">Editar</a></p><a href="/deleteFatura?id={{ .IdFatura }}">Deletar</a>
  {{ template "Footer" }}
{{ end }}
